.pizarraDesign {
    height:max-content;
    width:80rem;
    margin-left: 5rem;
    color: white;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: grey;
    overflow-x: auto;

   
}

.element {
    cursor:pointer;
}
