.pizarraDesign {
    height:max-content;
    width:100dvw - 40px;
    margin-right:5rem;
    margin-left: 5rem;
    color: white;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

.element {
    cursor:pointer;
}

.detailDesign {
    margin-left: 8rem; 
    margin-top: 2rem;
}