.imageHeader{
    width: 100%;
}

.esloganDesign{
    position: absolute;
    color: white;
    font-size: larger;
    margin-top: '300rem';
    margin-left: '200rem';
    
}

.parent {
    display: flex;
   
  }
  