.fieldDesign{
    width: 15rem;
    margin-left:2rem;
}
.registerCardDesign{
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 4rem;
    width:30vw;
    height: 50vh;

}

.errorMsg{
    color:red;
    font-size: small;
    cursor:default;
    width:12rem;
    text-align: center;
    display:flex;
    margin: auto;

}

.fieldDesignShake{
    width: 15rem;
    margin-left:2rem;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }