.backgroundDesign::before{
    
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    text-align: center;
    display:flex;
    animation: animatedBackground 10s linear infinite;
  background-image: url(https://img.freepik.com/vector-premium/fondo-azul-degradado-abstracto_642529-14.jpg?w=2000);
  background-size: cover;
    
}

@keyframes animatedBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}