.listDesign{
    display: flex;
    float:left;
    background-color: cadetblue;
    width:20rem;
    height:max-content;
    flex-direction: column;
    flex-shrink: 0;
}

.presetSelectorDesign{
    margin-top: 1rem;
    margin-left:1rem;
    margin-right:0.5rem;
}


.cardDesign:hover .closeCardDesign{
    visibility: visible;
}

.closeCardDesign{
    cursor:pointer;
    display:'none';
    visibility: hidden;
}

.closeCardDesign:hover {
    color:red;
}

.cardDesign:hover .watchCardDesign{
    visibility: visible;
}


.watchCardDesign{
    cursor:pointer;
    display:'none';
    visibility: hidden;
}

.watchCardDesign:hover {
    color:white;
}

#newElement {
    height: max-content;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.elementsDesign {
    cursor: pointer;
}

.elementsDesign:hover {
    color:whitesmoke;
}

.elDraggable{
    cursor:pointer;
    height:max-content;
    width:max-content;
}

.deleteDesign:hover{
    color:red;
}