.linkDesign{
    transition:0.3s;
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-right: 4rem;
    color: cadetblue;
    font-family: 'ComposFont';
    font-weight: 700;
    font-size: x-large;
}

.linkDesign:hover{
    transition:0.3s;
    color:grey;
}

.linksDesign {
    display: flex;
    flex-direction: row;
    margin-left:5rem;
    align-items: flex-end;
 
   
}

.linkSelectedDesign{
    transition:0.3s;
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-right: 4rem;
    color: cadetblue;
    font-weight: 700;
    font-size: x-large;
    border-bottom: 1px solid black;
    font-family: 'ComposFont';
}

.linkSelectedDesign:hover{
    transition:0.3s;
    color:grey;
}

.logButDesign {
    text-align: right;
    align-items: flex-end;
    color: black;
    cursor:pointer;
    margin-right: 2rem;
    margin-bottom: 1.7rem;
    float:right;
    right:6rem;
    position: absolute;
    font-family: 'ComposFont';
}

.barreta {
    text-align: right;
    align-items: flex-end;
    color: lightgrey;
    margin-right: 2rem;
    margin-bottom: 1.7rem;
    float:right;
    right:5rem;
    position: absolute;

}

.signDesign{
    text-align: right;
    align-items: flex-end;
    color: black;
    cursor:pointer;
    margin-right: 2rem;
    margin-bottom: 1.7rem;
    float:right;
    right:1rem;
    position: absolute;
    font-family: 'ComposFont';
}
.logButDesign:hover{
    transition:0.5s;
    color: grey;
}

.signDesign:hover {
    transition:0.5s;
    color: grey;
}


