

.titleTutDesign{
    color: lightslategray;
    width: 80%;
    margin: 0 auto;
    margin-top:3rem;
}

.textTutDesign{
    width: 30rem;
    margin:0 auto;
    margin-top:2rem;
    font-size: large;
    justify-content: center;
    text-align: justify;
}

.videoDesign{
    width:40rem;
    height:auto;
    margin-right: 10rem;
    border:solid 1px grey;
}