.signOutDesign{
    text-align: right;
    align-items: flex-end;
    color: lightgrey;
    cursor:pointer;
    margin-right: 2rem;
    margin-bottom: 1.7rem;
    float:right;
    right:4rem;
    position: absolute;
}

.signOutDesign:hover{
    color:darkred;
    transition:0.5s;
}

.avatarDesign{
    margin: 1rem;
    right: 1rem;
    position: absolute;
    
}

.avatarDesign:hover{
    cursor:pointer;
    border-radius: 2px;
    border-color:white;
    transition:0.5s;
    
}

.linkSelectedDesign{
    transition:0.3s;
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-right: 4rem;
    color: white;
    font-weight: 700;
    font-size: x-large;
    border-bottom: 1px solid white;
}

.linkSelectedDesign:hover{
    transition:0.3s;
    color:grey;
}

.linkDesign{
    transition:0.3s;
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-right: 4rem;
    color: white;
    font-weight: 700;
    font-size: x-large;
}

.linkDesign:hover{
    transition:0.3s;
    color:grey;
}
