.tableContDesign{
    margin-left: 5rem;
    margin-right: 5rem;
}

.filterBarDesign{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.deleteButton{
    cursor:pointer;
}

.deleteButton:hover{
    color:red;
}

.labeLink{
    cursor:pointer;
    color:#148f8b;
}

