.partsBarDesign{
    background-color: #222E50;
    width:20vw;
    height:100vh;
}

.createDesign{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}