.loginCardDesign{
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-color: grey;
    margin-top: 5rem;
    width: 30vw;
    height: 40vh;

}
.fieldDesign{
    width: 15rem;
    margin-left:2rem;
}


.errorMsg{
    color:red;
    font-size: small;
    cursor:default;
    width:12rem;
    text-align: center;
    display:flex;
    margin: auto;
    

}
