.backgroundDesignLogin{
    background-image: url('../../Resources/backNew.jpg');
    width: 100vw;
    height: 90vh;
    background-size: auto;
    
    justify-content: center;
    text-align: center;
    display:flex;
    
}

