.backgroundDesign{
    background-image: url('../../Resources/BackAvre.jpg');
    width: auto;
    height: auto;
    background-size: auto;
    
    justify-content: center;
    text-align: center;
    display:flex;
    
}

