.profileCardDesign{
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width:70rem;
    height:35rem;
    display:flex;
    flex-direction:column;
    background-color: #B5CA8D;
}


