.profileCardDesign{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width:70rem;
    height:35rem;
    display:flex;
    background-color: white;
}

.leftSideDesign{
    margin-top:4rem;
    margin-left:4rem;
    display:flex;
    flex-direction: column;
}

.rightSideDesign{
    margin-left:25rem;
    margin-top: 5rem;
    width:max-content
    
}

.mailDesign{
    font-size:large;
}
.avatarCardDesign{
    margin-bottom:1rem;
}
.saveProfDesign{
    bottom:2rem;
    right:2rem;
    position: absolute;
}

.inputsDesign{
    height: 2rem;
    
}

